/*only adding components specific to the body of the page. The rest of the css can imported with the index*/

#heading {
    margin-top: 30px;
    text-align: center
}

.courses {
    margin-left: 300px;
    margin-top: 40px;
    padding: 20px;
    align-content: center;
}

.course {
    padding: 100px;
    float: left;
}

.course-content {
    padding-left: 10px;
    text-decoration: underline;
    color: black;
}

.course-content a {
    text-decoration: none;
    color: black;
}