/* Styling is shared with sign up and sign in page due to similarities. */

/* wrapper for the body */
#form-wrapper{
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5%;
}

/* sign up form container. Also shares log-in form properties*/
.sign-up, .log-in{
    text-align: center;
    color: #6FB3B8;
    font-size: 35px;
}

/* the sign up button for the form. Also shares sign-in button properties.*/
.sign-up-button, .sign-in{
    background-color: #6FB3B8; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    margin-top:70px;
}

/* input tag properties for sign up form*/
.email-section input{
    font-size:23px;
}

/* input tag properties for sign up form*/
.password-section input{
    font-size:22px;
}

/* email section div*/
.email-section{
    margin-bottom: 30px;
}