.footer {
    background-color: #388087;
    text-align: center;
    clear: both;
    display: block;
    height: 50px;
    margin-top: -40px;
    position: relative;
    width: 100%;
    padding: 0;
    /*position: absolute;  I though this would make the footer stay at the bottom but it failed. fix later.
     I think I have fized the footer, let me know if still needs to be fixed. Yasir */
}


/*Fix at later date*/

p.footer {
    display: inline-block;

}

p a {
    text-decoration: none;
    color: #f6f6f2;
 
}