/*
Skip to content
Pull requests
Issues
Marketplace
Explore
@Matt-J-Stewart
KateCore /
QuizMaster
Public

Code
Issues
Pull requests
Actions
Projects
Wiki
Security

Insights

QuizMaster/css/indexStyleSheet.css
Yasir Tahir corrected dropdown, footer and added link to the GitHub repository.
Latest commit 7ba4f18 11 hours ago
History
2 contributors
@KateCore
@henrisky
84 lines (65 sloc) 1.48 KB
﻿ /*Last edited 02/19/2022*/


/*Examine need for style. Was used for float tutorial*/

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: auto;
    background-color: #F6F6F2;
}

#wrapper {
    min-height: 100%;
    overflow: auto;
}

#sample_quiz_wrapper {
    min-height: 100%;
    overflow: auto;
    padding-bottom: 90px;
}

#pageElements {
    height: inherit
}

a:hover {
    color: #C2EDCE
}

a {
    text-decoration: none;
    color: #F6F6F2
}


/*Title style
    margin adjusted to account for nav bar.
*/

/* #siteHeading {
    background-color: #388087;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-left: 65px;
} */


/*Main content styling.
    Now floated right for menu bar.
*/

#pageHeading {
    background-color: #badfe7;
    float: center;
    /*Float right now to account for menu bar.*/
    margin-left: 20px;
    /*Adjusted to account for menu bar size.*/
    text-align: center;
    color: #388087;
    padding:  15px 15px;
}
 #pageHeading p {
        font-size: 18px;
       
} 


#siteBody {
    min-height: 100%;
    overflow: auto;
    padding-bottom: 130px;
    text-align: center;
    margin-top: 50px;
    margin-left: 20%;
    margin-right: 20%;
}

#siteBody button {
    margin-bottom: 10px;
    background-color: #388087;
    width: auto;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
}

#news {
    border: solid 5px;
    border-color: #388087;
    text-align: left;
    padding: 20px;
    background-color: #badfe7;
    margin-bottom: 20px;
}

#news h4 {
    font-family: italic;
    text-decoration: underline;
    padding: 5px;
    background-color: red;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    width: auto;
    height: auto;
}

#latest_quiz_images div img {
    width: 200px;
    height: 150px;
}

#latest_quiz_images div p {
    text-decoration: underline;
    font-weight: bold;
}

#trending_quiz_images div img {
    width: 200px;
    height: 150px;
}

#trending_quiz_images div p {
    text-decoration: underline;
    font-weight: bold;
}

@keyframes example {
    0% {
        background-color: #ff4040;
    }
    25% {
        background-color: yellow;
    }
    50% {
        background-color: #00BFFF;
    }
    100% {
        background-color: #018749;
    }
}

#news p {
    padding: 5px;
}

#news a {
    padding: 5px;
    text-decoration: underline;
    color: #388087;
}

#sample_quiz {
    padding-top: 20px;
}

#quiz {
    min-height: 100%;
    overflow: scroll;
    scrollbar-face-color: #388087;
    padding-bottom: 50px;
    text-align: center;
    margin-top: 100px;
    margin-left: 20%;
    margin-right: 20%;
}

#quizHeading h1 {
    text-align: left;
    padding-bottom: 20px;
    text-decoration: underline;
}

#questions {
    border: solid 5px;
    border-color: #388087;
    text-align: left;
    padding: 20px;
    background-color: #badfe7;
}

#question1 {
    padding-bottom: 50px;
}

#question2 {
    padding-bottom: 50px;
}

#question3 {
    padding-bottom: 50px;
}

#question4 {
    padding-bottom: 50px;
}

#question5 {
    padding-bottom: 50px;
}

#question6 {
    padding-bottom: 50px;
}

#question7 {
    padding-bottom: 50px;
}

#submit_button {
    text-align: center;
}

#submit_button button {
    margin-bottom: 10px;
    background-color: #388087;
    width: auto;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
}


/*Cleared of all floats to cover bottom portion of screen. Block display allows link and text on one line.
    Adjusted margin to account for menu bar.
*/

© 2022 GitHub,
Inc. Terms Privacy Security Status Docs Contact GitHub Pricing API Training Blog About Loading complete