
html,
body {
    height: 100%;
}

.bodyContent{
    min-height: 100%;
    overflow: auto;
    text-align: center;
    margin-top: 50px;
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 20px;
}

table {
    min-height: 100%;
    min-width: 70%;
    overflow: scroll;
    scrollbar-face-color: #388087;
    border: solid 5px;
    border-color: #388087;
    background-color: #badfe7;
    padding-bottom: 50px;
    padding-top: 20px;
    text-align: center;
    margin-top: 50px;
    margin-left: 20%;
    margin-right: 20%;
    
}
tr{
    border-bottom: solid 1px;

}
th{
    padding: 5px 200px 10px 10px;
    text-align: left;
    border-bottom: solid 2px;
    font-size: 22px;

}
td{
    padding: 5px 200px 10px 10px;
    text-align: left;
    border-bottom: solid 1px;
    font-size: 18px;
}
.last{
    text-align: right;
    padding-right: -50px;
}
td a{
    color: #388087;
}
td a:hover{
    color: #6fb3b8;
}
td a:active{
    color: #6fb3b8;
}

