html,
body {
    height: auto;
    background-color: #F6F6F2;
}
#result {
    min-height: 100%;
    overflow: auto;
    scrollbar-face-color: #388087;
    padding-bottom: 150px;
    text-align: center;
    margin-top: 50px;
    margin-left: 20%;
    margin-right: 20%;
}
#resultBox {
    border: solid 5px;
    border-color: #388087;
    text-align: left;
    background-color: #badfe7;

    
}
h3{
    padding-left: 50px;
    padding-top:20px;
    text-align: left;
 
}
p{
    padding-top: 3px;
    padding-bottom:3px;
    padding-left:50px;

}
#question {
    font-weight: bold;
    padding-bottom:3px;

}

#questionBlock{
    padding-bottom: 20px;
    padding-top: 10px;
    padding-right: 80px;
    border-bottom: solid 2px #388087;
    height: 100px;
}
#points{
    text-align: center;
    font-weight: bold;
    border: solid 1px;
    line-height:60px;
    width: 60px;
    border-radius: 50%;
    font-size: 20px;
    float: right;
    background-color: #6fb3b8;

    
}
